<h1 mat-dialog-title>{{movie.title}}</h1>
<div mat-dialog-content class="mat-typography">
    <p><i>Director</i> :  {{movie.director}}</p>
    <p><i>Description</i> : {{movie.description}}</p>
    <p><i>Producer</i> : {{movie.producer}}</p>
    <p><i>Release Date</i> : {{movie.release_date}}</p>
    <p><i>Rating Score </i> : {{movie.rt_score}}</p>

</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</div>
 