/* You can add global styles to this file, and also import other style files */


*{
  margin:0;padding:0;
  box-sizing: inherit;
}
html, body { height: 100%; }
:root{
  font-size:100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; box-sizing: border-box;}

$primary-color:#0d47a1;

