<mat-spinner class="moviesDataLoader" mode="indeterminate" *ngIf="isLoading && isError===false"></mat-spinner>

<div class="mat-elevation-z8"> 
            <table mat-table [dataSource]="dataSource" *ngIf="dataSource">
                <!-- Title Column -->
              <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef> Title </th>
                  <td mat-cell *matCellDef="let element"> <a href="#" (click)="openDialog(element.id)">{{element?.title}}</a> </td>
               </ng-container> 
            
                  <!-- Director Column -->
                  <ng-container matColumnDef="director">
                      <th mat-header-cell *matHeaderCellDef> Director </th>
                      <td mat-cell *matCellDef="let element"> {{element?.director}} </td>
                  </ng-container>
            
                <!-- Rating Column -->
                <ng-container matColumnDef="rating" >
                  <th mat-header-cell *matHeaderCellDef> Rating </th>
                  <td mat-cell *matCellDef="let element"> {{element?.rt_score}} </td>
                </ng-container>
          
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [ngStyle]="{ display: isLoading==false && movieData.length!=0 ? 'block' :'none'}"
            [pageSize]="'5'"
            [pageSizeOptions]="[5,10]"
            showFirstLastButtons></mat-paginator> 
          </div>

          <h2 *ngIf="(isLoading==false && movieData.length==0|| isDialogErr===true)">
            <i>NO MOVIE FOUND</i>
          </h2>

            <h2 *ngIf="(isError==true)">
              <i>Internal Server Error Occur!! Try Again </i>
            </h2> 

<mat-spinner class="dialogLoader" mode="indeterminate" *ngIf="isDialogLoading && isDialogErr===false"></mat-spinner>
