.moviesDataLoader{
  top:3rem;
  margin:3rem auto;
}
.dialogLoader{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.mat-elevation-z8{
  width:80%;
  margin:3rem auto;
} 

table {
  width: 100%;
} 

h2{
  font-weight:300;
  display:inline-block;
  padding-left:4rem;
}
// tr:hover td {
//   background-color: #0d47a1;
// }
// tr:hover td,tr:hover a{
//   color:#fff;
// }
// tr a{
//   display:block;
// }